<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmaci&oacute;n de cuenta</title>
    <style>
        body {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    </style>
</head>

<body style="display: flex; justify-content: center; align-items: center; margin: 1rem;">
    <table style="min-width: 50wh; max-width: 100wh; border-collapse: collapse; margin: 0; padding: 0; box-shadow: -4px 4px 20px -3px rgba(0, 0, 0, 0.56); border-radius: 1rem;">
        <tr style="display: flex;">
            <td style="background: #6A5B96; border-radius: 1rem 0 1rem 0; margin: 0; padding: 0;">
                <h1 style="margin: 0 1.5rem; color: white;">MasteryTickets <span style="font-size: 1rem; font-weight: 600;">by MasteryTickets</span></h1>
            </td>
        </tr>

        <tr>
            <td style="display: flex; flex-direction: column; margin: 0 0 1rem 0;">
                <h2 style="margin: 1rem 1.5rem;">¡Bienvenido {{firstName}} {{lastName}}!</h2>
                <h3 style="margin: 0 1.5rem; color: #414141;">Adem&aacute;s de saludarte, te informamos que tu cuenta ha sido creada exitosamente</h3>
            </td>
        </tr>

        <tr style="display: flex; flex-direction: column; justify-content: center;">
            <td>
                <h4 style="margin: 0 1.5rem; color: #414141;">Es necesario verificar tu cuenta ingresando al siguiente portal web e iniciar sesi&oacute;n con los siguientes datos:</h4>
                <h4 style="margin: .5rem 1.5rem; color: #414141;"><span style="color: #6A5B96;">Web App: </span>{{url}}</h4>
            </td>
            <td>
                <h4 style="margin: .5rem 1.5rem; color: #414141;">Detalles de la cuenta: </h4>
                <ul style="margin: 0 1.5rem;">
                    <li>
                        <h4 style="margin: 0.3rem 0; color: #414141;"><span style="color: #6A5B96;">Email: </span>{{email}}</h4>
                    </li>
                    <li>
                        <h4 style="margin: 0.3rem 0; color: #414141;"><span style="color: #6A5B96;">Password: </span>{{password}}</h4>
                    </li>
                    <li>
                        <h4 style="margin: 0.3rem 0; color: #414141;"><span style="color: #6A5B96;">C&oacute;digo de Verificaci&oacute;n: </span>{{verificationCode}}</h4>
                    </li>
                </ul>
            </td>
            <td>
                <h4 style="margin: 1.5rem 1.5rem; color: #414141;"><span style="color: #6A5B96;">NOTA:</span> El Token vence dentro de 24 horas, despu&eacute;s de eso tendr&aacute;s que generar un nuevo token al iniciar sesi&oacute;n</h4>
            </td>
        </tr>

        <tr style="display: flex; justify-content: center; align-items: center;">
            <td>
                <h3 style="margin: 0 1.5rem 1rem 0; color: #000000; text-align: center;">&copy; 2025 MasteryTickets. All rights reserved.</h3>
            </td>
        </tr>
    </table>
    
</body>

</html>